layout {
    default_tab_template {
        children
        pane size=1 borderless=true {
            // FIXME: Zellij wants absolute path only
	    plugin location="file:/Users/apipko/.config/zellij/plugins/zjstatus.wasm" {
                format_left  "{mode} #[fg=#89B4FA,bold]{session} {tabs}"
                format_right "{datetime}"
                format_space ""

                border_enabled  "false"
                border_char     "─"
                border_format   "#[fg=#6C7086]{char}"
                border_position "top"

                hide_frame_for_single_pane "true"

                mode_normal  "#[bg=#ff0000] "
                mode_locked        "#[bg=blue] "
                mode_resize        "#[bg=yellow] "
                mode_pane          "#[bg=#ffa500] "
                mode_tab           "#[bg=green] "
                mode_enter_search  "#[bg=#7d7eec] "
                mode_search        "#[bg=#4b0082] "
                mode_rename_tab    "#[bg=green] "
                mode_rename_pane   "#[bg=yellow] "
                mode_session       "#[bg=#ffc0cb] "
                mode_move          "#[bg=yellow] "

                tab_normal   "#[fg=#6C7086] {name} "
                tab_active   "#[fg=#9399B2,bold,italic] {name} "

                datetime        "#[fg=#6C7086,bold] {format} "
                datetime_format "%A, %d %b %Y %H:%M"
                datetime_timezone "Europe/Berlin"
            }
        }
    }

    tab name="editor" focus=true {
        pane borderless=true
    }
    tab name="terminal" {
        pane
    }
}
